@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<WebBudget.Application.WebBudget.WebBudgetIncomeDTO>

@{
	ViewData["Title"] = "IncomesIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var pageNumber = ViewBag.PageNumber;
	var PageCount = ViewBag.PageCount;
}
@section containerContent  {
	<h4>Your incomes</h4>
	<hr />
	<div class="row">


   
		@foreach (var item in Model)
		{
			<div class="col-md-6 col-lg-4 small-card">
				<div class="card m-3 small-card">
					<div class="card-body">
						<h6 class="card-title"> @item.IncomeType</h6>
						<h6 class="card-subtitle mb-2 text-muted">@item.IncomeDate.ToString("yyyy-MM-dd")</h6>
						<h6 class="card-title"> @item.IncomeValue zł</h6>
						<a asp-controller="WebBudget" asp-action="IncomeEdit" asp-route-IncomeId="@item.IncomeId" class="btn btn-primary">Edit</a>
						<a asp-controller="WebBudget" asp-action="IncomeDelete" asp-route-IncomeId="@item.IncomeId" class="btn btn-primary">Delete</a>

					</div>
				</div>
			</div>

		}
	</div>

  }

@section scripts {
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}