@model WebBudget.Application.WebBudget.Commands.CategoryViewModels.ExpenseCategoryViewModel

@{
	ViewData["Title"] = "ShowExpenseCategories1";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section containerContent {
	<h4>Manage your expense categories </h4>

	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCategoryModal">
		Create New Category
	</button>

	<hr class="hr_line" />

	<p class="examples"> Example: Petrol, Car, Lovely Taxes</p>

	<hr class="hr_line" />

	<div class="row">

		@foreach (var category in Model.ExpenseCategories)
		{
			<div class="col-md-6 col-lg-4 small-card">
				<div class="card m-3 small-card">
					<div class="card-body">
						<h6 class="card-title">Category: <span style="color:#fffff0">@category.CategoryName</span></h6>
						<p>
							Limit:
							<span style="color:#fffff0">
								@if (category.Limit == 0)
								{
									@: ---
								}
								else
								{
									@($"{category.Limit} zł")
								}
							</span>
						</p>
						<button type="button" class="btn btn-info edit-btn" data-toggle="modal" data-target="#editCategoryModal" data-category-id="@category.CategoryId">Edit</button>
						<button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteCategoryModal" data-category-id="@category.CategoryId">Delete</button>
					</div>
				</div>
			</div>
		}

	</div>
}

<!-- ADD MODAL -->

<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true" style="text-align:center">

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addCategoryModalLabel">Create New Category</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="addCategoryForm" asp-action="AddExpenseCategory" method="post">
					<div class="form-group">
						<label for="CategoryName" style="color:white">New Category Name</label>
						<input asp-for="ExpenseCommand.CategoryName" type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="Example: Petrol" style="margin-bottom:3%" required />
						@if (!string.IsNullOrEmpty(ViewData["CategoryNameError"] as string))
						{
							<span class="text-danger">@ViewData["CategoryNameError"]</span>
						}
						<br />
						<label for="Limit" style="color:white">Provide Limit</label>
						<input asp-for="ExpenseCommand.Limit" type="number" min="1" class="form-control" id="Limit" name="Limit" placeholder="Optionally" />

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- DELETE MODAL -->

<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h5 class="modal-title mx-auto text-center" id="deleteCategoryModalLabel">Are you sure?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body mx-auto text-center">
				All expenses connected with this category will be deleted!
			</div>
			<div class="modal-footer mx-auto">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form id="deleteCategoryForm" asp-action="DeleteExpenseCategory" method="post">
					<input type="hidden" name="categoryId" id="categoryIdInput" value="" />
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h5 class="modal-title mx-auto" id="editCategoryModalLabel">Provide new category</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="editCategoryForm" asp-action="EditExpenseCategory" method="post" onsubmit="setDefaultLimit()">
					<div class="form-group" style="text-align:center;">
						<h6 for="newCategoryName" style="text-align:center; color:#f73131">Changing category will result in changing all categories in your Expenses!</h6>
						<h6 style="margin-top:3%">Provide new category</h6>
						<input type="text" class="form-control" id="newCategoryName" name="newCategoryName" required placeholder="Provide new category title" />
						<h6 for="newLimit" style="margin-top:3%"> Change Limit </h6>
						<input type="number" min="0" class="form-control" id="newLimit" name="newLimit" placeholder="Optionally" />
						<input type="hidden" id="categoryId" value="" name="categoryIdToEdit" />
					</div>
					<div class="modal-footer" style="justify-content:center">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary" id="EditBTN">Save Changes</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>





@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}


	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script>


		var categoryIdToDelete;
		var categoryIdToEdit;

		document.querySelectorAll('.delete-btn').forEach(button => {
			button.addEventListener('click', function () {
				categoryIdToDelete = this.getAttribute('data-category-id');
				document.getElementById('categoryIdInput').value = categoryIdToDelete;
			});
		});

		document.querySelectorAll('.edit-btn').forEach(button => {
			button.addEventListener('click', function () {
				var categoryId = this.getAttribute('data-category-id');
				console.log("Clicked Edit Button for Category ID: " + categoryId);
				categoryIdToEdit = categoryId;
			});
		});

		document.getElementById('EditBTN').addEventListener('click', function () {
			if (categoryIdToEdit) {
				var newCategoryName = document.getElementById('newCategoryName').value;
				var newLimit = document.getElementById('newLimit').value;
				console.log("tutaj numer: " + categoryIdToEdit);
				document.getElementById('categoryId').value = categoryIdToEdit;
				editCategory(categoryIdToEdit, newCategoryName, newLimit);
				console.log("zakonczono edycje " + newCategoryName);
				console.log(categoryIdToEdit + "kuniec");
			}
		});
		function setDefaultLimit() {
			var newLimitField = document.getElementById('newLimit');
			if (newLimitField.value === "") {
				newLimitField.value = "0";
			}
		}



		//--------- DELETE --------------//


		document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
			if (categoryIdToDelete) {
				deleteCategory(categoryIdToDelete);
				categoryIdToDelete = null;
			}
			$('#deleteCategoryModal').modal('hide');
		});



		function deleteCategory(categoryId) {
			fetch(`/WebBudgetController/DeleteIncomeCategory/${categoryId}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-Requested-With': 'XMLHttpRequest'
				}
			});
		}

		function editCategory(categoryId, newCategoryName, newLimit) {
			fetch(`/WebBudgetController/EditExpenseCategory/${categoryIdToEdit}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-Requested-With': 'XMLHttpRequest'
				},
				body: JSON.stringify({ categoryId: categoryId, newCategoryName: newCategoryName, newLimit: newLimit })
			}).then(response => {
				if (response.ok) {
				}
			});
		}


		document.getElementById('addCategoryForm').addEventListener('submit', async function (event) {
			event.preventDefault();

			var categoryName = document.getElementById('CategoryName').value;

			var data = {
				CreateIncomeCategoryCommand: {
					CategoryName: categoryName
				}
			};

			const response = await fetch('/WebBudgetController/AddIncomeCategory', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-Requested-With': 'XMLHttpRequest'
				},
				body: JSON.stringify(data)
			});

			if (response.ok) {
				var newCategoriesHtml = await response.text();
				var categoriesContainer = document.querySelector('.row');
				categoriesContainer.innerHTML = newCategoriesHtml;
				document.getElementById('CategoryName').value = '';
				document.getElementById('categoryNameError').innerText = '';
			} else {
				const errors = await response.json();
				var errorSpan = document.getElementById('categoryNameError');
				errorSpan.innerText = errors["CategoryName"][0];
			}
		});




	</script>
}